
<div class="container">
     <h2>Personajes poke Api</h2>
     <label class="mx-2">Buscar Pokemon: </label>
     <input type="text" [(ngModel)]="name" />
     <button class="btn btn-primary mx-2" type="submit" (click)="getPokemon()">Buscar</button>
     <div>
         <table class="table">
             <thead>
                 <th scope="col">id</th>
                 <th scope="col">Nombre</th>
                 <th scope="col">Ability</th>
             </thead>
             <tbody>
                 <tr *ngIf="!found; else find;">
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                 </tr>
                 <ng-template #find>
                     <tr>
                         <td *ngFor="let a of arr;">{{a}}</td>
                         <td><img [src]='image' /></td>
                     </tr>
                 </ng-template>
             </tbody>
         </table>
     </div>
</div>